<div class="page-header">
  <h3>Borrow Book #<%= @user_book.id %></h3>
</div>


<div class="row">
  <div class="col-md-12">
    <form action="/create_user_book/<%= @user_book.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

            <!-- Label and input for title -->
      <div class="form-group">
        <label for="title" class="control-label">
          Title
        </label>

        <td>"<%= @user_book.title %>"</td>
      </div>

      <!-- Label and input for genre -->
      <div class="form-group">
        <label for="genre" class="control-label">
          Genre
        </label>

        <td><%= @user_book.genre %></td>
      </div>

      <!-- Label and input for author -->
      <div class="form-group">
        <label for="author" class="control-label">
          Author
        </label>

        <td><%= @user_book.author %></td>
      </div>


      <!-- Label and input for rating -->
      <div class="form-group">
        <label for="rating" class="control-label">
          Rating
        </label>

        <td><%= @user_book.rating %> out of 5</td>
      </div>

      <!-- Label and input for image -->
      <div class="form-group">
        <label for="image_url" class="control-label">
          Image
        </label>

        <image><%= @user_book.image %></image>
      </div>

            <!-- Label and input for notes -->
      <div class="form-group">
        <label for="notes" class="control-label">
          Notes
        </label>

        <td><%= @user_book.notes %></td>

      </div>
      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          Borrower
        </label>

      <%= select_tag(:user_id, options_from_collection_for_select(Borrow.all, :id, :username, @user), :class => "form-control") %>
      </div>

      <!-- Label and input for available -->
      <div class="checkbox">
        <label for="available">
          <input type="checkbox" id="available" name="available" value="1" <%= "checked" if @user_book.available %>>
          Available (please un-check when borrowing)
        </label>
      </div>

      <button class="btn btn-warning">
        Save
      </button>
      or
      <a href="/user_books">Cancel</a>
    </form>
  </div>
</div>
