<!-- Validation failure messages -->
<% if @user_book.errors.any? %>
  <% @user_book.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Book #<%= @user_book.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_user_book/<%= @user_book.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for image -->
      <div class="form-group">
        <label for="image" class="control-label">
          Image
        </label>

        <input type="text" id="image" name="image" placeholder="Image" class="form-control" value="<%= @user_book.image %>">
      </div>

      <!-- Label and input for title -->
      <div class="form-group">
        <label for="title" class="control-label">
          Title
        </label>

        <input type="text" id="title" name="title" placeholder="Title" class="form-control" value="<%= @user_book.title %>">
      </div>

      <!-- Label and input for author -->
      <div class="form-group">
        <label for="author" class="control-label">
          Author
        </label>

        <input type="text" id="author" name="author" placeholder="Author" class="form-control" value="<%= @user_book.author %>">
      </div>

      <!-- Label and input for genre -->
      <div class="form-group">
        <label for="genre" class="control-label">
          Genre
        </label>

        <input type="text" id="genre" name="genre" placeholder="Genre" class="form-control" value="<%= @user_book.genre %>">
      </div>

      <!-- Label and input for rating -->
      <div class="form-group">
        <label for="rating" class="control-label">
          Rating
        </label>

        <input type="text" id="rating" name="rating" placeholder="Rating" class="form" value="<%= @user_book.rating %>"> out of 5
      </div>

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          Owner
        </label>

        <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :email, @user), :class => "form-control") %>

      <!-- Label and input for available -->
      <div class="checkbox">
        <label for="available">
          <input type="checkbox" id="available" name="available" value="1" <%= "checked" if @user_book.available %>>
          Available
        </label>
      </div>

      <!-- Label and input for notes -->
      <div class="form-group">
        <label for="notes" class="control-label">
          Notes
        </label>

        <textarea id="notes" name="notes" placeholder="Notes" class="form-control" rows="3"><%= @user_book.notes %></textarea>
      </div>


      <button class="btn btn-warning">
        Update User Book
      </button>
      or
      <a href="/user_books/<%= @user_book.id %>">Cancel</a>
    </form>
  </div>
</div>
