<div class="page-header">
  <h1>
    My Information
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Username</th>
        <th>Last log in</th>
      </tr>
      <tr>
        <td><%= current_user.email %></td>
        <td><%= current_user.last_sign_in_at %></td>
        <td>
        </td>
      </tr>
    </table>
  </div>
</div>


<div class="page-header">
  <h1>
    My Books
    <a href="/user_books/new" class="btn btn-lg btn-success">Add New Book</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Image</th>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Rating</th>
        <th>User</th>
        <th>Available</th>
        <th>Notes</th>
        <th>Actions</th>
      </tr>

      <% UserBook.where(:user_id => current_user.id).each do |user_book| %>
      <tr>
        <td><img src= "<%= user_book.image %>" width="80"></td>
        <td><%= user_book.title %></td>
        <td><%= user_book.author %></td>
        <td><%= user_book.genre %></td>
        <td><%= user_book.rating %> out of 5</td>
        <td><%= user_book.user.email %></td>
        <td><%= user_book.available %></td>
        <td><%= user_book.notes %></td>
        <td>
          <a href="/user_books/<%= user_book.id %>" class="btn btn-primary">Show</a>
          <a href="/user_books/<%= user_book.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_user_book/<%= user_book.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>



<div class="page-header">
  <h1>
   Available Books to Borrow
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Image</th>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Rating</th>
        <th>User</th>
        <th>Available</th>
        <th>Notes</th>
        <th>Actions</th>
      </tr>
  <% UserBook.where(:available => true).each do |user_book| %>
      <tr>
        <td><img src= "<%= user_book.image %>" width="80"></td>
        <td><%= user_book.title %></td>
        <td><%= user_book.author %></td>
        <td><%= user_book.genre %></td>
        <td><%= user_book.rating %> out of 5</td>
        <td><%= user_book.user.email %></td>
        <td><%= user_book.available %></td>
        <td><%= user_book.notes %></td>
        <td>
          <a href="/user_books/<%= user_book.id %>" class="btn btn-primary">Show</a>
          <a href="/user_books/<%= user_book.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_user_book/<%= user_book.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <a href="/user_books/borrow/<%= user_book.id %>" class="btn btn-warning">Borrow</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>


<div class="page-header">
  <h1>
    All Borrowed Books
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Image</th>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Rating</th>
        <th>User</th>
        <th>Borrower</th>
        <th>Available</th>
        <th>Notes</th>
        <th>Actions</th>
      </tr>

      <% UserBook.where(:available => false).each do |user_book| %>
      <tr>
        <td><img src= "<%= user_book.image %>" width="80"></td>
        <td><%= user_book.title %></td>
        <td><%= user_book.author %></td>
        <td><%= user_book.genre %></td>
        <td><%= user_book.rating %> out of 5</td>
        <td><%= user_book.user.email %></td>
        <td>"<%= user_book.borrows%>""</td>
        <td><%= user_book.available %></td>
        <td><%= user_book.notes %></td>
        <td>
          <a href="/user_books/<%= user_book.id %>" class="btn btn-primary">Show</a>
          <a href="/delete_user_book/<%= user_book.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
          <a href="/user_book/return/<%= user_book.id %>" class="btn btn-warning">Return</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
