<div class="page-header">
  <h3><%= @user_book.user.username %>'s Book #<%= @user_book.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Image</dt>
      <td><img src= "<%= @user_book.image %>" width="170"></td>
</dl>

<dl class="dl-horizontal">
      <dt>Title</dt>
      <dd><%= @user_book.title %></dd>

      <dt>Author</dt>
      <dd><%= @user_book.author %></dd>

      <dt>Genre</dt>
      <dd><%= @user_book.genre %></dd>

      <dt>Rating</dt>
      <dd><%= @user_book.rating %> out of 5</dd>

      <dt>User</dt>
      <dd><%= current_user.email %></dd>

      <dt>Available</dt>
      <dd><%= @user_book.available %></dd>

      <dt>Notes</dt>
      <dd><%= @user_book.notes %></dd>
</dl>


    <div class="btn-group btn-group-justified">
      <a href="/user_books" class="btn btn-primary">
        Back
      </a>
      <a href="/user_books/<%= @user_book.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_user_book/<%= @user_book.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
